@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");
@import "tailwindcss";

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-6px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.15s ease-out;
}

.container {
  @apply max-w-7xl mx-auto px-4;
}

@keyframes scaleUp {
  0%,
  100% {
    transform: scaleY(1);
    background-color: rgba(134, 18, 243, 0.5);
  }
  50% {
    transform: scaleY(2);
    background-color: rgb(168, 77, 228);
  }
}

.montserrat-500 {
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-style: normal;
}
